
  html,body{
    height: 100%;
    margin: 0;
  }

  body{
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .bg-text {
    position:fixed;
    top:0px;
    width: 100%;
  }

  h1{
    margin:0;
    color: white;
    font-size: 13px;
    text-align:center;
    border:10px none;
    background-color: #deb887;
    padding:10px;
  }

  #magnifier{
    position: fixed;
    right: 50px;
    top: 50px;

  }


  /*PC Header*/

  #header_category{
    display: flex;
    max-height: calc(100vh - 90vh);
    justify-content: space-between;
    align-items:center;
  }

  #category_left{
    display: flex;
    flex-basis: 25%
  }

  #PC_Logo{
    max-width: 100%;
    box-sizing: border-box;
    align:center;
    /* IDEA: container인 category_left의 크기>Logo img의 크기 */
    /* IDEA: so,I set Logo img 'max-width:100%'.*/
    /* IDEA: and therefore does not stretch to fill the container.*/
  }

  .category_center{
    display: flex;
    flex-basis: 50%;
    justify-Content: space-evenly;
    padding: 25px;
    width: 100%;
  }

   /* Dropdown Button */
  .dropbtn {
    background-color: transparent;
    border: none;
    font: inherit;
  }

  /* The container <div> - needed to position the dropdown content */
  .group_hover{
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  #middle-category{
    display: none;
    position: absolute;
    min-width: inherit;
  }

  /* Links inside the dropdown */
  #middle-category a {
    padding: 9px;padding-top: 4.5px;padding-bottom:4.5px;
    text-decoration: none;
    text-align: left;
    display: block;
  }

  /* Change color of dropdown links on hover */
  #middle-category a:hover{
    background-color:transparent;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .group_hover:hover .dropbtn{
    background-color: transparent;
  }

  /* Show the dropdown menu on hover */
  .group_hover:hover #middle-category{
    display: block;
  }


  #category_right{
    display: flex;
    flex-basis: 25%;
    padding: 25px;
  }

   .category_center a, #category_right a{
    outline: none;
    color: white;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
  }


  /*Mobile Header*/

  #mobile_header_category{
    display: flex;
    max-height: calc(100vh - 90vh);
    justify-content: space-between;
    align-items:center;
  }

  #mobile_category_left{
    display: flex;
    flex-basis: 25%;
    padding: 25px;
  }

  #mobile_category_left a, #mobile_category_right span{
   outline: none;
   color: white;
   font-size:15px;
   text-decoration: none;
   padding: 10px;
   box-sizing: border-box;
  }

  .mobile_category_center{
   display: flex;
   flex-basis: 25%;
   padding: 10px;
   /* max-width: 100%; */
   box-sizing: border-box;
  }

  #mobile_Logo{
    max-width: 100%;
    box-sizing: border-box;
    align:center;
    /* IDEA: container인 category_left의 크기>Logo img의 크기 */
    /* IDEA: so,I set Logo img 'max-width:100%'.*/
    /* IDEA: and therefore does not stretch to fill the container.*/
  }

  #mobile_category_right{
    display: flex;
    flex-basis: 25%;
    padding: 25px;
  }

  #mobile_category_right a{
    outline: none;
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  /*mobile_category_right > Nav*/

  .sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right:0;/*open nav fron right*/
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    box-sizing: border-box;
    padding: 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a{
    padding: 0px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    flex-basis: auto;
    flex-grow: 1;
  }
  #close_box{
    font-size: 5px;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /*mobile_category_right > mobile_menu*/

  .mobile_menu{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #mobile_menu_box{
    box-sizing: border-box;
    padding:10px;
  }

  #close_box, #mobile_menu_box a{
    color:black;
  }

  #m1_top,#m3_bottom{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  #m1_top a,#m3_bottom a{
    box-sizing: border-box;
    text-align: center;
    font-size:14px;
  }

  #m2_center,#m4_information{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    text-align: left;
  }

  #m2_center a{
    font-size: 20px;
    padding: 5px 10px 0px 10px;
  }

  #m4_information a{
    font-size: 10px;
  }
  #m4_information li{
    box-sizing: border-box;
    padding: 10px;
  }


  /*Main*/

  .main img {
    width: 100%;
    border: none;
    vertical-align: top;
    margin:0;
    padding:0;
  }


  h3{
    bottom:100px;
    margin:0;
    color: coral;
    font-size: 17px;
    text-align:center;
    padding: 20px;
  }


  /*footer*/

  .footer{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 45px 7.5%;
    box-sizing: border-box;
    background: #fff;
  }

  .footer_area {
    margin: 0;
  }

  .footer-info-detail .title{
    padding-bottom: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #c51a27;
  }

  ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start:0px;
  }

  li{
    font-size: 11px;
    list-style: none;
  }

  .footer-info-detail ul{
    font-size: 15;
    letter-spacing: 5;
  }

  .footer-info-detail ul li{
    width: 25%;
    box-sizing: border-box;
  }

  #footer-flexbox{
    display: flex;
    flex-flow: wrap;
  }

  #footer-flexbox li {
    text-align: -webkit-match-parent;
    height: auto;
    padding: 20px;
    padding-top: 0px;
    font-weight: 540;
  }

  #footer-flexbox a{
    text-decoration: none;
    color: black;
  }

  .footer-info-basic{
    display: block;
    width: 100%;
    vertical-align: bottom;
    text-align: right;
    margin-top: 30px;
    padding-left: 20px;
  }


  #mallow{
    position: fixed;
    width: 70px;
    height: 70px;
    right: 19px;
    bottom: 19px;
  }

  .fix-icon a.instagram {
    dispaly: block;
  }


  @media(max-width:800px){
    #header_PC_fix{
      display: none;
    }

    #footer_PC_section1, #footer_PC_section2{
      display: none;
    }
    #footer-flexbox{
      flex-direction: column-reverse;
    }
    .footer-info-detail ul li{
      width:100%;
    }
    .footer-info-basic{
      text-align: left;
      margin-top: 0px;
    }

  }

  @media(min-width:800px){
    #header_mobile_fix{
      display: none;
    }
  }

  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
